body {
	height: 100%;
}

html {
	height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
	width: 6px; /* Set the width of the scrollbar */
}

#seek-handle-container {
	background-color: 'red';
}

#seek-handle-container::-webkit-scrollbar {
	width: 0px; /* Set the width of the scrollbar */
}

/* Style the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
	background-color: #2e2e2e; /* Set the color of the thumb */

	border-radius: 6px; /* Add rounded edges to the thumb */
	transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #423c3b; /* Set the color of the thumb */
	transition: 0.5s;
}

/* Style the scrollbar track when the handle is being dragged */
::-webkit-scrollbar-track {
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
}
